<!doctype html>
<html>
  <head>
    <title>Log into <%=shopName%></title>
    <link rel="stylesheet"  type="text/css" href="/main.css" />
  </head>
  <body>
    <h1>Log into <%=shopName%></h1>
    <form method="POST" action="/loggedin">
        <p>Username: <input id="username" type="username" name="username" value="username" /></p>
        <p>Password: <input id="password" type="password" name="password" value="password" /></p>
        <input type="submit" value="Login" />
      </form>
  </body>
</html>